
.hero {
    background: var(--hellblau);
    text-align: center;
    position: relative;
    height: 100vh;
    padding: 2em 5em;
    margin: auto;
    z-index: 1;

    span {
        color: var(--primary-color);
    }

    .container {
        max-width: 1024px;
        margin: auto;
    }

    .beitreten {
        background: var(--primary-color);
        color: white;
        padding: 0.6em 1.2em;
        font-size: 1.5em;
        border-radius: 5em;
        font-weight: bold;
    }

    .beitreten:hover {
        background-color: var(--font-color);
    }

    p {
        opacity: 70%;
        margin: 2em auto 3em auto;
    }

    h1 {
        padding: 22% 0 0 0;
        margin: auto;
    }

    svg {
        z-index: -1;
        margin-bottom: 0;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.wolke {
    position: relative;
    animation: cloud-anim 20s linear infinite alternate;
}

.wolke2 {
    position: relative;
    animation: cloud-anim 25s linear infinite alternate;
}

.wolke3 {
    position: relative;
    animation: cloud-anim 35s linear infinite alternate;
}

.luftballon {
    position: relative;
    animation: baloon-anim 30s linear infinite alternate;
}

@keyframes cloud-anim {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(20%);
    }
}

@keyframes baloon-anim {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(10%);
    }
}

.about-us {
    background: var(--font-color);
    color: white;
    font-weight: lighter;
    padding: 4em 5em;
    text-align: center;

    .container {
        text-align: left;
        display: flex;
        max-width: 1024px;
        margin: auto;
        .left-col {
            width: 20%;
            height: 100%;
            margin: auto;
            padding-right: 0.5em;
            img {
                width: 100%;
                max-width: 100%;
            }
        }
        .right-col {
            width: 70%;
        }
    }
}

.guru-lama-erklaerung {
    padding: 5em 5em 3em 5em;
    max-width: 1024px;
    margin: auto;
    text-align: center;
}

.guru-lama {
    text-align: center;
    padding: 3em 5em;
    max-width: 1024px;
    margin: auto;

    .icon-guru-lama {
        display: flex;
        justify-content: space-between;
        padding: 0em 1em;

        .strich {
            margin: auto;
            stroke-width: 1.5em;
        }

        .icon-mitte {
            width: 18em;
            margin: auto;
            padding: 0em 1em;
        }
    }

    .container {
        .guru-lama-info {
            display: flex;
            text-align: center;
            padding: 3em 5em 0 5em;
            max-width: 1024px;
            margin: auto;

            h2 {
                color: var(--primary-color);
                font-weight: bold;
            }

            .left-col {
                margin: auto;
                padding: 1em 3em;
                img {
                    width: 10em;
                    border-radius: 1em;
                }
            }

            .right-col {
                text-align: left;
            }
        }
    }
}



@media only screen and (max-width: 960px) {
    .guru-lama {
        .icon-guru-lama {
            .icon-mitte {
                width: 10em;
            }
        }

        .container {
            .guru-lama-info {
                display: block;

                .left-col {
                    padding: 0;
                }

                .right-col {
                    text-align: center;
                }
            }
        }
    }

    .about-us {
        padding: 2em 5em;

        .container {
            text-align: center;
            display: block;
            .left-col {
                width: 100%;
                padding-right: 0;
                img {
                    width: 35%;
                    max-width: 12em;
                }
            }

            .right-col {
                width: 100%;
            }
        }
    }

}

@media only screen and (max-width: 768px) {
    .hero {
        height: 60vh;

        .container {
            h1 {
                margin-top: 50px;
                padding: 20% 0 0 0;
                font-size: 1.5em;
            }

            p {
                font-size: 0.8em;
            }

            .beitreten {
                font-size: 1em;
            }
        }
    }
}

@media only screen and (max-width: 414px) {

    .hero {
        padding: 1em 1em;
    }

    .about-us {
        padding: 1em 2em;
    }

    .guru-lama-erklaerung {
        padding: 1em 2em 1em 2em;
    }

    .guru-lama {
        padding: 1em 2em;

        .icon-guru-lama {
            .strich {
                stroke-width: 3em;
            }
        }

        .container {
            .guru-lama-info {
                padding: 3em 0em 0 0em;
            }
        }
    }
}

@media only screen and (orientation: landscape) {
    .hero {
        height: 100vh;

        .container {
            h1 {
                margin-top: 0px;
            }
        }
    }
}
